@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!--
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
-->


<address>
    <strong>Email:</strong>   <a href="mailto:ericsheng21@gmail.com">ericsheng21@gmail.com</a><br />
    <strong>Contact:</strong> <a href="https://www.linkedin.com/in/ericsheng21/">LinkedIn</a>
</address>