<li>@Html.ActionLink((string)ViewBag.MessageCount, "Index", "Message")</li> <!--Added Messages link-->

<!--This partial gets the current Message Count from AccountController.cs-->
<!--and sends the LI with the Message Count to _Layout.cs-->

