
@{
    ViewBag.Title = "Import";
}

<h2>Import</h2>

<h4>Add Monsters via Excel</h4>

<div class="form-horizontal">

    <input type="file" id="FileUpload" name="FileUpload" class=""/>
    <input type="submit" value="Click me to submit the Mons mon owo" class="btn-primary" />

</div>


