
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@* Need to grab these from the scripts folder when we installed that unobtrusive validation package *@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>