
/**
General Formatting
**/

#main
{
//	font-family: Tahoma, sans-serif;
	font-family: Trebuchet MS;
	font-size: 14pt;
//	width: 800px;
	width: 810px;
	margin: 0 auto;
}

.cap
{
	font-size: 14pt;
	font-weight: bold;
}

li
{
	margin: 0 0 0px 0;
}

/****************************
		Resume Header
****************************/

#header
{
	text-align: left;	
}

#header .name
{	
//	letter-spacing: 4pt; 
	font-weight: bold;
	font-size: 28pt;
	text-transform: uppercase;
	margin-bottom: 12px;
//	font-family: somefont;
}

#header .title {
	font-weight: bold;
	font-size: 23pt;
	text-transform: uppercase;
	margin-bottom: 12px;
}

#header .cap {
	font-size: 36pt;
}

#header .cap2 {
	font-size: 29pt;
	font-weight: bold;
}

#header .contact {
//	border: 1px solid #999999;
	line-height: 12px;
	font-size: 10pt;
//	font-weight:bold;
	text-align: right;
	position: right;
	color: #888888;
}

#header a {
	color: grey;
}

hr
{
//	margin-bottom: 30px;
	background-color: rgb(0, 0, 255);
}

/****************************
		Resume Body - General
****************************/
#resume-body
{
	width: 750px;
	//height: 1000px;
	padding-left: 36px;
	line-height: 22pt;	
	
	/* Background Image Line
	background-image: url('./separator.png');
	background-position: -70px 50px;
	background-repeat: repeat-y;
	overflow: visible;	
	*/
}


/* shouldn't need any of these */
.resume-category {
	width:100%;
//	border: 1px solid #009999;
	float: right;
	margin: 0px 0px 0px 0px;
}

.resume-category-title {
//	border: 1px solid #999999;
	float:left;
	width: 150px;
	margin: 0px 0px 0px 0px;
	font-weight: bold;
	font-size: 11pt;
	text-align: right;
	text-transform: uppercase;
}

.resume-list{
	float:right;
	width:640px; padding-left: 10px;
	//border: 1px solid #999999;
	//line-height: 26pt;
}

ul {
	margin: 0 0 0 -16px;
	font-size: 11pt;
}

.project-description {
	margin-left: 1em;
	font-size: 12pt;
}


