
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewBag.Greeting World (from the view)<br />
        The Time is now @ViewBag.CurrentTime
        <p>We're going to have a really fucking exciting party</p>
        @Html.ActionLink("RSVP Now", "RsvpForm")

    </div>
</body>
</html>
